{% extends "LoginLoginBundle:Default:welcome.html.twig" %}



{% block container %}
    
    {% block propic %}
     <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            
       <div class="nav nav-sidebar row">
        <div>
            <div class="thumbnail">
                <img data-src="holder.js/180x200" alt="...">
      
            </div>
        </div>
    </div>
    
      {% endblock %}  
       
     {% block side_navbar %}       
          <ul class="nav nav-sidebar">
            <li><a href="#">Overview</span></a></li>
            <ul>
                <li>Reports</li>
                <li>Analytics</li>
                <li>Export</li>
            </ul>
          
            <li><a href="{{path('community_community_index')}}">Community Manager</a></li>
            <ul>
                <li>Community Update</li>
                <li>Community Delete</li>
                <li>Communit Search</li>
            </ul>
            
            <li><a href="{{path('dictionary_dictionary_index')}}">Dictionary Manager</a></li>
            <ul>
                <li>Dictionary Update</li>
                <li>Dictionary Delete</li>
                <li>Dictionary Search</li>
            </ul>
          </ul>
        </div>
            
        {% endblock %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block canvas %}
            
            <h2>User Settings</h2>

            {% if status is defined %}
                {% if status == 'failed' %}
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Failed</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{message}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change profile picture</h3>
                </div>
                <div class="panel-body">

                    <!--file upload test -->
                    <form class="form" method="POST" enctype="multipart/form-data" action="{{path('file_file_homepage')}}" >
                        <div class="col-sm-3">
                            <input  type="file" name="img"><br>
                            <button class="btn btn-xs btn-primary" type="submit">Upload</button>
                        </div>
                    </form>
                    <!-- end of file upload test -->

                </div>
            </div>
              
        
        {% endblock %}
        </div>
        </div>
    </div>
    
{% endblock %}